## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,10,Butaritari,KI,82.78,light rain,3.0707,172.7902,Isles Sunset Lodge
1,13,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750,Paradise Inn
2,16,Upata,VE,79.20,clear sky,8.0086,-62.3989,Posada Villa Nela
3,23,Montgomery,US,79.36,scattered clouds,39.1501,-77.1997,Comfort Inn Shady Grove - Gaithersburg - Rockv...
4,25,Chipurupalle,IN,82.80,overcast clouds,18.3000,83.5667,Sai Towers

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather </dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Raton']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Raton']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'North Platte']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Billings'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Green River']

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start['Lat'].to_numpy(dtype = 'float')[0], vacation_start['Lng'].to_numpy(dtype = 'float')[0])
end = (vacation_end['Lat'].to_numpy(dtype = 'float')[0], vacation_end['Lng'].to_numpy(dtype = 'float')[0])
stop1 = (vacation_stop1['Lat'].to_numpy(dtype = 'float')[0], vacation_stop1['Lng'].to_numpy(dtype = 'float')[0])
stop2 = (vacation_stop2['Lat'].to_numpy(dtype = 'float')[0], vacation_stop2['Lng'].to_numpy(dtype = 'float')[0])
stop3 = (vacation_stop3['Lat'].to_numpy(dtype = 'float')[0], vacation_stop3['Lng'].to_numpy(dtype = 'float')[0])

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
waypoints = [stop1, stop2, stop3]
direction_layer = gmaps.directions_layer(start = start, end = end, waypoints = waypoints, travel_mode = 'DRIVING')
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,260,Raton,US,84.54,clear sky,36.9034,-104.4391,"Holiday Inn Express & Suites Raton, an IHG Hotel"
1,648,North Platte,US,87.12,clear sky,41.1239,-100.7654,"Holiday Inn Express & Suites North Platte, an ..."
2,712,Billings,US,83.28,few clouds,45.7833,-108.5007,Best Western Plus Clocktower Inn
3,579,Green River,US,87.19,clear sky,41.5286,-109.4662,Hampton Inn & Suites Green River

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather </dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))